- if @showtasks.empty?
  %h3.muted You have empty TODO list.
- else
  .page-header Your TODO list
  %table.table.table-hover
    %thead
      %tr
        %th #
        %th Created At
        %th Title
        %th Description
        %th Actions
    %tbody
      - @showtasks.each do |showtask|
        %tr
          %td= showtask.task.id
          %td= showtask.task.created_at
          %td= showtask.task.title
          %td= showtask.task.description
          %td
            = link_to "Edit", edit_task_path(showtask.task), :class => "btn btn-primary", :data => { :toggle => "modal" }
            - if showtask.shared
              = link_to "Delete from list", showtask_path(showtask), :method => :delete, :class => "btn btn-danger", :confirm => "Delete?"
              %br
              %span.label.label-warning shared by #{showtask.sharer.email}
            - else
              = link_to "Delete", task_path(showtask.task), :method => :delete, :class => "btn btn-danger", :confirm => "Delete?"
              = link_to "Share", share_form_task_path(showtask.task), :class => "btn btn-warning", :data => { :toggle => "modal" }
  :javascript
    setAjaxModal();
